$black: #333;
$white: #eee;

html, body {
    background-color: $black;
}

body {
    padding: 20px;
}

h1 {
    font-size: 3.400rem;
    font-weight: 300;
    line-height: 4rem;
}
h2 {
    font-size: 2.400rem;
    font-weight: 300;
    line-height: 3.2rem;
}
h3 {
    font-size: 2.000rem;
    font-weight: 300;
    letter-spacing: 0.005em;
}
h4 {
    font-size: 1.600rem;
    font-weight: 300;
    letter-spacing: 0.010em;
    line-height: 2.4rem;
}

a {
    text-decoration: none;
}

.top-nav {
    h1, h2, span { font-weight: 300; }
    
    .nav-app-title {
        margin-right: 10px;
    }
    
    .nav-menu-item {
        margin: 5px 5px 5px 5px;
        padding: 0 10px 0 10px;
        font-size: 70%;
        
        &.active {
            background-color: rgba(255,255,255,.1);
        }
    }
}

.topnav-container {
    margin-bottom: 20px;
}
 
.main {
    color: $black;
    background-color: $white;
}

.maincontent {
    padding: 15px;
}

.small {
    font-size: 65%;    
}

.pointer {
    cursor: pointer;
};

#message {
    margin-top: 30px;
};

.me {
    margin-top: 20px;
};

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
};

// ----Alert ----

.alert {
    border: 0;
    border-radius: 0;
    
    &.alert-danger {
        background-color: #f44336;
        color: rgba(255,255,255, 0.84);
    }
}

// ---- Me ----

.debug-item {
    word-wrap: break-word;
}

// --- 

