<div layout-padding flex="grow" ng-hide="vm.isAuthenticated()">
    <h3>Please <a href="#/Login">log in</a>.<h3>
</div>

<div layout="column" ng-show="vm.isAuthenticated()">
    <div class="maincontent" ng-show="vm.loading">
        <i class="fa fa-cog fa-spin fa-5x"></i>
        <p></p>
    </div>
    <div class="alert alert-dismissible alert-danger" ng-show="vm.message.length">
        <strong>Oups</strong> 
        <p>{{vm.message}}</p>
    </div>
    <md-list ng-hide="vm.loading">
        <div ng-repeat="mail in vm.mails">
            <md-list-item layout-wrap class="md-3-line" ng-click="vm.open(mail)">
                <md-icon class="hide-xs" md-font-set="md-avatar-icon material-icons">account_circle</md-icon>
                <div layout-wrap class="md-list-item-text" layout="column" ng-class="{ unread: mail.unread }">
                    <h3>{{ mail.from }}</h3>
                    <p>{{ mail.title }}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-list>
</div>
