<div layout-padding flex="grow" ng-hide="vm.isAuthenticated()">
    <h3>Please <a href="#/Login">log in</a>.<h3>
</div>

<div layout="column" ng-show="vm.isAuthenticated()">
    <div class="maincontent" ng-show="vm.loading">
        <i class="fa fa-cog fa-spin fa-5x"></i>
        <p></p>
    </div>
    <div class="alert alert-dismissible alert-danger" ng-show="vm.message.length">
        <strong>Oups</strong> 
        <p>{{vm.message}}</p>
    </div>
    <div ng-hide="vm.loading">
        <div layout="row">
            <md-card flex="33">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">PG1</span>
                    </md-card-title-text>
                    <md-card-content>
                    </md-card-content>
                </md-card-title>
            </md-card>
            <md-card flex="33">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">PG2</span>
                    </md-card-title-text>
                    <md-card-content>
                    </md-card-content>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div>
