<md-toolbar class="top-nav">
    <div class="md-toolbar-tools">
        <h2 class="nav-app-title">
            <a href="#/Home">myMail</a>
        </h2>
        <span ng-class="{ active: vm.isActive('/New')}" class="nav-menu-item" ng-show="vm.isAuthenticated()">
            <h2>
                <a href="#/New">
                    <md-icon show-xs hide-gt-xs md-font-set="material-icons">add_circle_outline</md-icon>
                    <span hide-xs show-gt-xs>New</span>
                </a>
            </h2>
        </span>
        <span flex></span>
        <span ng-show="vm.isAuthenticated()">
            <i class="fa fa-user"></i> {{vm.getUsername()}}
        </span>
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="More" ng-show="vm.isAuthenticated()">
                <md-icon md-font-set="material-icons" ng-click="$mdOpenMenu($event)">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button class="md-primary" ng-click="vm.goToProfile()">My Profile</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="md-primary" ng-click="vm.logout()">Logout</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <span ng-hide="vm.isAuthenticated()">
            <a href="" ng-click="vm.login()">Login</a>
        </span>
      </div>
</md-toolbar>
