<div class="maincontent" ng-hide="vm.isAuthenticated()">
    <h3>Please <a href="#/Login">log in</a>.<h3>
</div>
<div layout="column" flex="grow" ng-show="vm.isAuthenticated()">
    <div class="maincontent" ng-show="vm.loading">
        <i class="fa fa-cog fa-spin fa-5x"></i>
        <p></p>
    </div>
    <div class="alert alert-dismimssible alert-danger" ng-show="vm.message.length">
        <strong>Oups</strong>
        <p>{{vm.message}}</p>
    </div>
    <div layout="column" ng-hide="vm.loading">
        <md-toolbar class="mailactions">
            <div class="md-toolbar-tools">
                <div class="small"><b>from</b> {{vm.mail.from}}</div>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Reply" ng-click="vm.reply()">
                    <md-icon md-font-set="material-icons">reply</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Delete" ng-click="vm.delete()">
                    <md-icon md-font-set="material-icons">delete_forever</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="column" class="mailheaders">
            <div layout="row" layout-align="start end">
                <div class="header">Subject</div>
                <div class="headervalue">{{vm.mail.subject}}</div>
            </div>
            <div layout="row" layout-align="start end">
                <div class="header">To</div>
                <div class="headervalue">{{vm.mail.to}}</div>
            </div>
        </div>
        <div class="mailcontent maincontent" ng-bind-html="vm.mail.content"></div>
    </div>
</div>
